services:
  certbot-init:
    image: certbot/certbot:latest
    container_name: certbot-init
    env_file: .env
    ports:
      - "80:80"     # standalone http-01 necesita 80 libre en el host
    volumes:
      - ./certbot/conf:/etc/letsencrypt
    entrypoint: ["certbot"]
    command:
      - certonly
      - --standalone
      - --preferred-challenges
      - http
      - -d
      - ${DOMAIN}
      - -m
      - ${EMAIL}
      - --agree-tos
      - --non-interactive
